<div *ngIf="voyage">
  <h1>{{ voyage.destination }}</h1>
  <p>{{ voyage.description }}</p>
  <p>Prix: {{ voyage.prix }} €</p>
  <button (click)="openConfirmModal()" class="delete-btn">Supprimer</button>
</div>


<div class="modal-overlay" *ngIf="showConfirmModal">
  <div class="modal">
    <h3>Confirmation</h3>
    <p>Êtes-vous sûr de vouloir supprimer ce voyage ?</p>
    <div class="modal-buttons">
      <button (click)="onDelete($event)" class="confirm-btn">Oui</button>
      <button (click)="closeConfirmModal()" class="cancel-btn">Annuler</button>
    </div>
  </div>
</div>




