.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  text-align: center;
}

h1 {
  font-size: 100px;
  color: #e74c3c;
}

h2 {
  font-size: 30px;
  margin: 20px 0;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}
